@media only screen and (min-width: 38rem) {
    /* 38rem == 608px */
    /* 35rem == 560px */

    header,
    main,
    nav,
    footer {
        /* 75rem == 1200px */
        max-width: 75rem;
        margin: 0 auto;
    }

    /* ******************** NAVIGATION ******************** */
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .nav {
        display: block;

        & ul {
            display: flex;
        }

        & a {
            border: none;
        }
    }

    /* ******************** FOOTER ******************** */
    footer div {
        display: flex;
        align-items: center;
    }

    /* ******************** CARDS ******************** */
    div.cert-card,
    div.course-card {
        grid-template-columns: 1fr 1fr 1fr;
    }

}